doctype html
head
	title Загрузка иконок
	link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet")
	link(href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet")
body()
	#app
	script(src="/main.js")
	script(src="/runtime~main.js")
	script(src="/vendors~main.js")